.PasswordReset_Form{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.PasswordReset_Box{
    background-color: rgba(0, 200, 255, 0.162);
    padding: 20px;
    border-radius: 15px;
    outline: none;
    box-shadow: 0px 0px 80px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.PasswordReset_Back{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.PasswordReset_Error{
    padding: 5px;
    margin: 10px 5px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
